<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADqhISR7fRA-eaS9NU44FX3ZyJOeSbUHs</string>
	<key>GCM_SENDER_ID</key>
	<string>536919497007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>grorgianc.on.ca.Final-Exam---MobileData</string>
	<key>PROJECT_ID</key>
	<string>finalexam-1aafb</string>
	<key>STORAGE_BUCKET</key>
	<string>finalexam-1aafb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536919497007:ios:f3dfe5f2360895326569da</string>
</dict>
</plist>